.firsttDiv {
  width: 100%;
  position: relative;
  bottom: 20px;
  display: inline;
}

.allFirst {
  margin: 20px;
  padding: 35px;
}

.byTitle {
  border-bottom: 1px gray solid;
  font-size: 30px;
  padding-bottom: 20px;
  position: relative;
  bottom: 30px;
}

.firstDiv input {
  height: 28px;
  position: relative;
  top: 11px;
  flex: 1;
}

.firstDiv button {
  background-color: rgb(37, 123, 173);
  color: white;
  height: 28px;
  position: relative;
  top: 12px;
  flex: 1;
}

.firstDiv select {
  height: 28px;
  position: relative;
  top: 12px;
}
